@import "tailwindcss";

@theme {
  --font-sans: var(--font-poppins), sans-serif;
  --font-bowlby: var(--font-bowlby), cursive;
  --font-poppins: var(--font-poppins), sans-serif;
  --font-nanum: var(--font-nanum), cursive;

  --color-background: #f8f8f8;
  --color-foreground: #151515;

  --color-text-secondary: #c0c0c0;
  --color-text-tertiary: #c7c7c7;

  /* Navigation Colors (Placeholder) */
  --color-nav-home-bg: #151515;
  --color-nav-home-text: #f8f8f8;
  --color-nav-phil-bg: #e0e0e0;
  --color-nav-phil-text: #151515;
  --color-nav-vis-bg: #e0e0e0;
  --color-nav-vis-text: #151515;
  --color-nav-work-bg: #e0e0e0;
  --color-nav-work-text: #151515;
}

:root {
  --background: #f8f8f8;
  --foreground: #151515;
}

/* Ensure smooth scrolling */
html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
}

@keyframes marquee {
  0% {
    transform: translateX(-50%);
  }

  100% {
    transform: translateX(0%);
  }
}

.animate-marquee {
  animation: marquee 20s linear infinite;
}

@media (max-width: 767px) {
  .logo-marquee-wrapper {
    transform: scale(0.8);
    transform-origin: center;
  }
}