@import "tailwindcss";

@theme {
  --font-sans: var(--font-bricolage);

  --color-background: #f8f8f8;
  --color-foreground: #151515;

  --color-text-secondary: #c0c0c0;
  --color-text-tertiary: #c7c7c7;
}

:root {
  --background: #f8f8f8;
  --foreground: #151515;
}

/* Ensure smooth scrolling */
html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
}